@{
    ViewData["Title"] = "Overview";
}

<h1>Financial Program</h1>
<p>Learn about the benefits of our financial program...</p>
<a href="@Url.Action("Register")">Register</a> | <a href="@Url.Action("Login")">Login</a>
